*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fd412d, #ee6f6f );
}

#fireworksH{
  font-size: xx-large;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

.slider{
  width: 1200px;
  height: 850px;
  border-radius: 10px;
  overflow: hidden;
  margin: 100px auto;

}

.slides{
  width: 500%;
  height: 850px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1200px;
  height: 600px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 1200px;
  margin-top: -200px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

#radio5:checked ~ .first{
  margin-left: -80%;
}

#radio6:checked ~ .first{
  margin-left: -100%;
}

#radio7:checked ~ .first{
  margin-left: -120%;
}

#radio8:checked ~ .first{
  margin-left: -140%;
}

#radio9:checked ~ .first{
  margin-left: -160%;
}

#radio10:checked ~ .first{
  margin-left: -180%;
}

#radio11:checked ~ .first{
  margin-left: -200%;
}

#radio12:checked ~ .first{
  margin-left: -220%;
}

#radio13:checked ~ .first{
  margin-left: -240%;
}

#radio14:checked ~ .first{
  margin-left: -260%;
}

#radio15:checked ~ .first{
  margin-left: -280%;
}

#radio16:checked ~ .first{
  margin-left: -300%;
}

#radio17:checked ~ .first{
  margin-left: -320%;
}

#radio18:checked ~ .first{
  margin-left: -340%;
}

#radio19:checked ~ .first{
  margin-left: -360%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-top: 650px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
  background: #40D3DC;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
  background: #40D3DC;
}

#radio7:checked ~ .navigation-auto .auto-btn7{
  background: #40D3DC;
}

#radio8:checked ~ .navigation-auto .auto-btn8{
  background: #40D3DC;
}

#radio9:checked ~ .navigation-auto .auto-btn9{
  background: #40D3DC;
}

#radio10:checked ~ .navigation-auto .auto-btn10{
  background: #40D3DC;
}

#radio11:checked ~ .navigation-auto .auto-btn11{
  background: #40D3DC;
}

#radio12:checked ~ .navigation-auto .auto-btn12{
  background: #40D3DC;
}

#radio13:checked ~ .navigation-auto .auto-btn13{
  background: #40D3DC;
}

#radio14:checked ~ .navigation-auto .auto-btn14{
  background: #40D3DC;
}

#radio15:checked ~ .navigation-auto .auto-btn15{
  background: #40D3DC;
}

#radio16:checked ~ .navigation-auto .auto-btn16{
  background: #40D3DC;
}


#radio17:checked ~ .navigation-auto .auto-btn17{
  background: #40D3DC;
}

#radio18:checked ~ .navigation-auto .auto-btn18{
  background: #40D3DC;
}


#radio19:checked ~ .navigation-auto .auto-btn19{
  background: #40D3DC;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #000000;
  font-family: 'Playfair Display', serif;
}

#mainNavbar{
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 2.0rem;
  font-family: 'Playfair Display', serif;
}

#mainNavbar .nav-link, .nav-item{
  color: #FFFFFF;
  font-size: 18px;
  padding: 10px;
  margin: 0px 28px;
  display: inline-block;
  text-align: center;
}

#mainNavbar .nav-link:hover{
  color: #fd412d;
}

.logo{
  color: #fff7fb;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a{
  color: #fff7fb;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.nav-links li{
  list-style: none;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  background-color: #fff7fb;
  margin: 5px;
  width: 25px;
  height: 3px;
}

.jumbotron{
  height: 325px;
  background-color: black;
  margin-top: 100px;
}

.display-4{
  color: #fff;
}

.description, .lead {
  color: #fff;
}

#storefront{
  border: 3px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#storefront hover{
  border: 3px solid #52A2FE; 
}

p{
  color: #999999;
  line-height: 25px;
}

h2, h3{
  color: #fff;
}

h2{
  font-size: 18px;
}

.footer-bottom{
  background: #111111;
  height: 215px;
  padding: 10px 0px;
}

.segment-one h3{
  font-family: 'Courgette', cursive;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}

.segment-three p{
  margin: 0px;
  padding: 0px;
  text-align: left;
}

#newP{
  margin-top: 15px;
  padding: auto;
}

.segment-two h2, .segment-three h2{
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.segment-two h2:before, .segment-three h2:before{
  content: '|';
  color: #c65039;
  padding-right: 10px;
}

.segment-two a{
  width: 40px;
  background: #494848;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
}

.segment-two a i{
 font-size: 20px;
 color: #fff;
 padding: 10px 12px;
}

.container-fluid{
  position: relative;
  overflow: hidden;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #ten:hover, #eleven:hover, #twelve:hover, #thirteen:hover, #fourteen:hover, #fifteen:hover, #sixteen:hover, #seventeen:hover, #eighteen:hover, #nineteen:hover, #twenty:hover, #twentyone:hover, #twentytwo:hover, #twentythree:hover, #twentyfour:hover, #twentyfive:hover, #twentysix:hover, #twentyseven:hover, #twentyeight:hover, #twentynine:hover, #thirty:hover, #thirtyone:hover, #thirtytwo:hover, #thirtythree:hover, #thirtyfour:hover, #thirtyfive:hover, #thirtysix:hover  {
  border: 2px solid rgb(17, 147, 223);
  transform: scale(1.1);
}

.card {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex-grow: 1;
}

.card-title {
  color: #fff;
}

.card-text {
  flex-grow: 1;
}


.firework {
	position: right;
}
.explosion {
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	/* background-color: rgba(0,0,0,.2); */
	overflow: hidden;
}
.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
	transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
	transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
	transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
	transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
	transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
	transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
	transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
	transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
	transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
	transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
	transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 40px;
	background-color: #f5cf52;
}
@keyframes explosion {
	0% {
		top: 100%;
	}
	33%, 100% {
		top: -50%;
	}
}

.fireworks-container {
  position: right;
}

#firework1 {
  left: 70%;
  top: 20%;
  transform: scale(1);
}

#firework2 {
  left: 60%;
  top: 25%;
  transform: scale(0.7);
}

#firework3 {
  left: 80%;
  top: 40%;
  transform: scale(0.4);
}

#firework1 .explosion::before {
	animation: explosion 2s ease-in-out infinite;
}

#firework2 .explosion::before {
	animation: explosion 2s .6s ease-in-out infinite;
}

#firework3 .explosion::before {
	animation: explosion 2s .4s ease-in-out infinite;
}

@media screen and (max-width: 875px) {

  .jumbotron {
    width: 100%;
  }

  .description{
      display: none;
  }

  #storefront{
      width: 100%;
      height: 100%;
  }

  .footer-bottom{
      height: 50%;
  }

  .segment-one, .segment-two{
      margin-bottom: 25px;
  }
}
